<mat-toolbar>
  <span>Duck Feeder App</span>
  <button mat-button routerLink="/feed"> Add Feedings </button>
  <button mat-button routerLink="/report"> See Report </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="material-icons-outlined" aria-label="Example icon-button with face icon">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-icon-button class="material-icons-outlined" aria-label="Example icon-button with logout icon">
    <mat-icon (click)="logOut()">logout</mat-icon>
  </button>
</mat-toolbar>
<mat-card><router-outlet></router-outlet></mat-card>